body {
    background-color: rgba(245, 239, 248, 0.445);
    align-items: center;
    justify-content: center;
    display: flex;
}
button {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border: 2px solid #000000;
    background-color: rgb(169, 232, 248);
}
button:active {
    border: 2px solid #000000;
    background-color: #fc5c5c;
    transition: color 0s;
}

#proxy {
    font-size: 16px;
    font-weight: 1000;
    font-family: 'Roboto', sans-serif;
}
.butt {
    margin-left: 185px;
}
textarea, img, h1 {
    text-align: center;
    margin-left: 150px;
    font-family: 'Roboto', sans-serif;
}
p, a {
 font-family: 'Roboto', sans-serif;
}

figcaption {
    color: rgb(238, 84, 84);
    font-weight: 900;
}